body {
  color: white;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  margin: auto;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
}

.timing p {
  display: inline;
}

.inputs {
  padding: 10px;
}

.inputs .group {
  display: inline-block;
}

.inputs .group-em-as {
  display: inline-block;
}

.inputs .horario {
  font-size: 3rem;
  width: 3.3rem;
}

.timing {
  margin: 1rem;
  font-size: 4rem;
}

.btns {
  padding: 1rem;
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 1rem;
  font-weight: bold;
  box-shadow: 1px 1px 6px white;
  text-decoration: none;
  color: white;
  border: 2px solid white;
  cursor: pointer;
  margin: 0 5px 0 5px;
  border-radius: 3px;
}

.btn:hover {
  background-color: whitesmoke;
  color: black;
}

.btn:active {
  color: black;
  border: 2px solid white;
  background-color: white;
  box-shadow: 1px 1px 2px whitesmoke;
  transform: translate(2px, 2px);
}
