body {
  color: #ffadb4;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  margin: auto;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  margin-top: 3rem;
}

.group-em-as {
  padding: 0.5rem;
}

.inputs {
  padding: 10px;
}

.inputs input {
  background-color: #ffadb4;
  color: black;
  border: none;
  text-align: center;
}

.inputs input:focus {
  box-shadow: 1px 1px 20px #ffadb4;
}

.inputs .group {
  display: inline-block;
}

.inputs .horario {
  font-size: 3rem;
  width: 3.3rem;
}

.timing {
  margin: 1rem;
  font-size: 4rem;
}

.timing p {
  display: inline;
}

.btns {
  padding: 1rem;
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 1rem;
  font-weight: bold;
  box-shadow: 1px 1px 6px #ffadb4;
  text-decoration: none;
  color: #ffadb4;
  border: 2px solid #ffadb4;
  cursor: pointer;
  margin: 0 5px 0 5px;
  border-radius: 3px;
}

.btn:hover {
  background-color: #ffadb4;
  color: black;
}

.btn:active {
  color: black;
  border: 2px solid #ffadb4;
  background-color: #ffadb4;
  box-shadow: 1px 1px 2px #ffadb4;
  transform: translate(2px, 2px);
}

/* Retirando arrows dos inputs*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
